<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Students</title>
</head>
<body>
<h1>Students</h1>
<ul>
    <button onclick="generateHallTicket('CSE_BTECH', '1')">Print</button>
</ul>
<table border="1">
    <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Role</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.registrationNo}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.department}"></td>
        <td th:text="${student.semester}"></td>
    </tr>
</table>

<script>
    function generateHallTicket(department, semester) {
        var formData = new FormData();
        formData.append('department', department);
        formData.append('semester', semester);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/generateHallTicket', true);
        xhr.responseType = 'blob';

        xhr.onload = function () {
            if (xhr.status === 200) {
                var url = window.URL.createObjectURL(xhr.response);
                var a = document.createElement('a');
                a.href = url;
                a.download = 'hall_ticket.pdf';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            } else {
                console.error('Error generating hall ticket:', xhr.responseText);
            }
        };
        xhr.send(formData);
    }
</script>
</body>
</html>
